<div class="col-12">
    <div class="form-group">
        <label for="date-input"><%-input.name.Ab()%></label>
        <input class="form-control" id="<%-input.name.Ab()%>" type="date" name="<%-input.name.Ab()%>" value="<%-input.value%>" placeholder="date">
    </div>
</div>